/* Reset & layout basics */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: #222;
  display: flex;
  flex-direction: column;
}

/* Header area */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.top-bar a {
  padding: 0 5px;
}

h1 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
}

h1 a {
  text-decoration: none;
  color: #222;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  flex-wrap: wrap;
  gap: 10px;
}

main {
  max-width: 700px;
  width: 90%;
  margin: 1em auto;
  padding: 0 1em;
}

.fav-station {
  display: flex;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 1em 0;
}

.fav-station p {
  margin: 0.5em 0;
}

.fav-station img {
  display: block;
  height: 5em;
  width: 5em;
  padding-right: 1em;
}

button {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 0.9rem;
}
button:hover {
  background: #eaeaea;
}

#map {
  flex-grow: 1;
}

.fuel-selector {
  margin: 10px;
  justify-content: center;
  gap: 20px;
}

.fuel-selector label {
  font-size: 16px;
}


/* Custom marker for petrol stations */
.station-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  background: white;
  border-radius: 6px;
  pointer-events: auto; /* allows popup click */
  position: relative;
}

.station-icon img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  display: block;
}

.station-icon span {
  white-space: nowrap;
}

.station-icon::after {
  content: '';
  position: absolute;
  bottom: -8px;               /* Position the triangle below the box */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

.station-icon {
  filter: drop-shadow(0 3px 5px rgba(0,0,0,0.3))
}

.station-popup {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  mid-width: 200px;
}

.station-popup img {
  width: 32px;
  height: 32px;
}

.station-popup button {
  display: block;
  margin-top: 4px;
  font-size: 0.85em;
}

.nerd-mode {
  margin-top: 6px;
  font-size: 0.85em;
  display: none;
}

.brand-inline {
  display: inline-flex;
  align-items: end;
}

button.fav-btn {
  background: none;
  border: none;
  padding: 0;
  margin-left: 4px;
  line-height: 1;
  font-size: 1.5em;
  color: #444;
}

button.fav-btn::before {
  content: '☆';
}

button.fav-btn:hover::before {
  background: none;
  color: #aaa;
  content: '★';
}

button.fav-btn.favourited::before {
  color: gold;
  content: '★';
}
